.home-container {
  @apply flex flex-col items-center text-white px-4 pt-20;
}

.forecast-card {
  @apply mt-8 p-4 rounded-xl bg-white/10 backdrop-blur-md text-white text-center w-full max-w-sm mx-auto shadow-lg;
}
