.home-container {
  @apply flex flex-col items-center justify-center text-white min-h-screen;
}
.forecast-card {
  @apply mt-8 p-4 rounded-xl bg-white/10 backdrop-blur-md text-white text-center w-72 mx-auto shadow-lg;
}
